<link rel="stylesheet" href="https://quantaar.com/wp-content/uploads/custom-css-js/42605.css">
  <style>
    .signUp__bg {
    /*  background-image: url('https://quantaar.com/wp-content/uploads/2022/12/background.png'); */
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .form {
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    .btn-getKey {
      background-color: #FFC700;
      font-weight: bolder;
    }
    .btn-getKey:hover {
      background-color: #4C1DC0;
      color: #fff;
      border-color: #fff;
    }
    .modal-content {
      background-color: transparent;
      border: none;
    }
    .btn-dismiss {
      height: 50px;
      bottom: 12%;
    }
    .form-label {
      font-weight: bold;
    }
    .text-agree {
      font-size: 15px;
    }
    .logo {
      width: 100%;
      top: 6%;
    }
    .backTo {
      display: block;
      bottom: 9%;
      text-align: center;
      height: 30px;
      background-image: url('https://quantaar.com/wp-content/uploads/2022/12/backTo.png');
      background-repeat: no-repeat;
      background-position:  center;
    }
    .backTo:hover {
      background-image: url('https://quantaar.com/wp-content/uploads/2022/12/backTo-hover.png');
    }
    .service, .nda, .privacy {
      color: #fff;
      text-decoration: none;
    }
    .service:hover, .nda:hover, .privacy:hover {
      color: #fff500;
    }
    .success {
      width: 100%;
      height: 340px;
      background-image: url('https://quantaar.com/wp-content/uploads/2022/12/success.png');
      background-size: cover;
      background-position:  center;
    }
    .success:hover {
      background-image: url('https://quantaar.com/wp-content/uploads/2022/12/success-hover.png');
    }

  </style>

  <div id="app">
    <div class="signUp__bg">
      <div class="container h-100">
        <div class="col-md-6 mx-auto h-100">
          <div class="position-relative w-100 h-100" style="margin-top:-280px; padding-bottom: 200px;">
 
            <form class="form position-absolute">
              <div class="form-group mb-3">
                <label for="platform" class="form-label text-white">Choose Your VR Device</label>
                <select class="form-select" v-model="platform" id="platform">
                  <option value="Quest2" selected>Quest 2</option>
                  <option value="PCVR">PCVR</option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="email" class="form-label text-white">Your Email</label>
                <input type="email" class="form-control" :placeholder="placeholder" id="email" v-model="email">
              </div>
              <div class="mb-3">
                <button type="button" class="btn w-100 btn-getKey" @click="getKey">Get a Free Key</button>
              </div>
              <p class="w-100 text-white text-center text-agree">By submitting, I have read and agreed to the <a class="service" href="https://quantaar.com/terms" target="_blank">terms of service</a>, <a class="privacy" href="https://quantaar.com/privacy" target="_blank">privacy policy</a> and <a class="nda" href="https://quantaar.com/nda" target="_blank">NDA</a>.</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content position-relative">
          <a href="https://quantaar.com" class="success d-block"></a>
          <!-- <div class="w-100 position-absolute btn-dismiss" ></div> -->
        </div>
      </div>
    </div>
  </div>

  <script src="https://quantaar.com/wp-content/uploads/custom-css-js/bootstrap.min.js"></script>
  <script src="https://quantaar.com/wp-content/uploads/custom-css-js/axios.min.js"></script>
  <script src="https://quantaar.com/wp-content/uploads/custom-css-js/vue.global.js"></script>
  
  <script>
    const {
  createApp,
  ref,
  onMounted,
  inject,
  watch
} = Vue

createApp({
  setup() {
    const platform = ref('Quest2');
    const placeholder = ref('Quest 2 user: enter your Oculus ID email');
    const email = ref('');

    // onMounted(() => {
    //   // 顯示 modal
    //   var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
    //     keyboard: false
    //   });
    //   myModal.show()
    // })

    // 更改 placeholder 文字
    watch(platform, () => {
      if(platform.value == 'PCVR') {
        placeholder.value = 'Enter your email to receive your Steam key'
      } else {
        placeholder.value = 'Quest 2 user: enter your Oculus ID email'
      }
    })

    function getKey() {
      // 沒填寫 email 打回去
      if(email.value == '') {
        alert('請填寫 email');
        return false
      }

      // Email 正規驗證
      emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;

      if(email.value.search(emailRule) != -1) {
        // email 驗證成功
        // 打 DC 和 tg 
        Promise.all([DCgetKey(), telegramGetKey()])
        .then((res) => {
          const item1 = res[0].status;
          const item2 = res[1].status;
          // 如果兩方都成功才會顯示 modal
          if(item1 && item2) {
            // 顯示 modal
            alert('Signup Success');
            // 恢復欄位
            platform.value = 'Quest2'
            email.value = ''
          } else {
            alert('Error, 錯誤');
          }
        })
        .catch((e) => {
          alert('Error, 錯誤'+e);
        })
      } else {
        // email 驗證失敗
        alert('Please enter a valid email address');
      }
    }

    function telegramGetKey() {
      return new Promise((resolve, reject) => {
        // telegram url
        const tgUrl = 'https://api.telegram.org/bot5638724293:AAFVjDH49UJLt-mN2NIxd19Ce73sf_ufve8/sendMessage';

        // 組 text 參數值
        const newString = `➠ ${platform.value}   ✉ ${email.value}`

        const data = {
          text: newString,
          chat_id: -1001573858830
        };

        // 打 tg API
        axios.post(tgUrl, data)
        .then((res) => {
          resolve({
            status: true,
            message: 'telegram success'
          });
        })
        .catch((error) => {
          reject({
            status: false,
            message: 'telegram fail'
          });
        })
      })
    }

    function DCgetKey() {
      return new Promise((resolve, reject) => {
        // dc url
        const dcUrl = 'https://discord.com/api/webhooks/1055326745437405246/LxF8hMWzeph46GQeYtGNCZz01BEN6RgInwSNJTBJ6JrLoi5Q0rRwVYtt1XTzaT7EkRYY';

        // 組 content 參數值
        const newString = `➠ ${platform.value}   ✉ ${email.value}`

        const data = {
          content: newString,
          chat_id: -1001573858830
        };

        // 打 DC API
        axios.post(dcUrl, data)
          .then((res) => {
            resolve({
              status: true,
              message: 'DC success'
            });
          })
          .catch((error) => {
            reject({
              status: false,
              message: 'DC fail'
            });
          })
      })
    }
    
    return {
      platform,
      placeholder,
      email,
      getKey,
      DCgetKey,
      telegramGetKey
    }
  }
}).mount('#app')
</script>
